html, body {
    margin: 0;
    height: 100%;
    overflow: hidden; /* 隐藏滚动条 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    background: #da4a4a;
    padding: 10px;
    transition: .3s; /* 添加过渡效果 */
}

.screen {
    flex: 1;
    display: flex;
    width: 100%;
    background: #000;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s; /* 添加过渡效果 */
}

@media screen and (orientation: portrait) {
    /* 竖屏布局 */
    .screen {
        max-height: 300px;
    }
    .function {
        position: absolute;
        bottom: 0;
        align-self: flex-end;
        transform: translateX(20px);
        padding: 8px 10px;
        border-radius: 50px 0 0 50px;
        box-shadow: 0px 5px 0 rgba(255, 255, 255, .8);
    }
    .function::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        right: 0;
    }
    .function::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        right: 0;
    }
    .function button {
        width: 56px;
        margin: 10px;
    }
    .action-area {
        flex: 1;
        justify-content: flex-end;
    }
    .action button:first-child {
        margin-right: 20px;
    }
}